

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Fonctions</span> </b></center>

#### **Exercice 00:**  
> **Ã‰crire une fonction `cube` qui retourne le cube de son argument.**

In [ ]:
def cube(number):
    return number*number*number*

In [ ]:
print(cube(8))

#### **Exercice 01:**  
> **DÃ©clarez une fonction `ajouter_deux_nombres`. Elle prend deux paramÃ¨tres et renvoie leur somme.**

In [92]:
def add_two_numbers(number1, number2):
    return (number1+number2)

In [93]:
u1=int(input("enter number1:"))
u2=int(input("enter number2:"))
print(add_two_numbers(u1,u2))

enter number1:30
enter number2:21
51

#### **Exercice 02:**  
> **L'aire d'un cercle se calcule comme suit : aire = pi x r x r avec pi=3,14. Ã‰crivez une fonction `aire_du_cercle` qui prend le rayon en argument et calcule l'aire du cercle correspodant.**

In [16]:
def area(r):
    pi=3.14
    n=pi * r *r
    return n 
area(6)

113.03999999999999

#### **Exercice 03:**  
> **La tempÃ©rature en Â°C peut Ãªtre convertie en Â°F Ã  l'aide de cette formule : Â°F = (Â°C x 9/5) + 32. Ã‰crivez une fonction `convert_celsius_en_fahrenheit` qui convertit les Â°C en Â°F**.

In [18]:
def TEMP(TEMPERATURE):
    F=(TEMPERATURE*9/5)+32
    return F
TEMP(30)

86.0

#### **Exercice 04:** 
>**Ã‰crire une fonction somme avec un argument Â« tuple de longueur variable Â» qui calcule la somme des nombres contenus dans le tuple.Tester cette fonction par des appels avec diffÃ©rents tuples dâ€™entiers ou de flottants.**

In [21]:
def mysum(*length_tuple):
    result=0
    for number in length_tuple:
        result+=number
        return result
    print(mysum(4))

#### **Exercice 05:** 
>**Ecrire `somme_liste` qui calcule la somme des nombres contenus dans une liste.Tester cette fonction par des appels avec diffÃ©rents listes dâ€™entiers ou de flottants.**

In [116]:
def list_sum(liste):
    f=0
    for i in liste:
        f+=i
    return f

In [117]:
list_sum([6,7,9])

22

In [118]:
list_sum([4.1,7.6,9,2])

22.7

#### **Exercice 06:** 
>**Ã‰crire une fonction somme qui  prend en argument un entier $n$ et retourne la somme  des $n$-prÃ©miers entiers naturels.**

In [25]:
def sumof(n):
    s=0
    for i in range(n+1):
        s+=i
    return s

In [26]:
sumof(5)

15

sumof(5)

In [ ]:
#### **Exercice 07:** 
>**Ã‰crire une fonction `nom` qui demande Ã  l'utilisateur d'entrer son nom ensuite son prÃ©nom et affiche son prÃ©nom suivit de son nom.**

#### **Exercice 08:** 
>**Ã‰crire une fonction `nom` qui demande Ã  l'utilisateur d'entrer son nom ensuite son prÃ©nom et affiche son prÃ©nom suivit de son nom.**

In [36]:
def hello():
    fname=str(input("enter the fname : "))
    lname=str(input("enter the lname:"))
    print( str(fname) + " " +str(lname))
    
hello()

enter the fname : steve
enter the lname:nyash
steve nyash

#### **Exercice 09:** 
>**Ecris une fonction `Maximum` qui renvoie le minimum de trois nombres.**

In [37]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6

#### **Exercice 10:**
>**Soit $f(x)=ax^2+bx+c$ un trinÃ´me du second degrÃ©.**
 1. **Ecris une fonction `Discriminant` qui calcule son discriminant.**
 2. **Ecris ensuite une fonction `existence_des_racines_du_trinome` qui discute suivant les valeurs du discriminant, l'existence de ses racines.**

In [52]:
def discrinant(a,b,c):
    return (b**2)-4*(a*c)

In [56]:
discrinant(3,-6,-2)

60

In [70]:
import math
def existence_des_racines_du_trinome(a,b,c):
    D=discrinant(a,b,c)
    if D<0:
        print("there is no solution")
    elif D==0:
        print("there is one solution")
        x1=-b/(2*a)
        print(x1)
    else:
        print("two solution")
        x2=(-b-math.sqrt(D))/2*a
        x3=(-b+math.sqrt(D))/2*a
        print(x2,x3)

In [71]:
existence_des_racines_du_trinome(3,-6, -2)

two solution
-2.618950038622251 20.618950038622252

#### **Exercice 11:**
>**Ecris une fonction qui affiche le reste de la division euclidienne d'un entier naturel $a$ par un entier naturel $b$**.

In [73]:
def find(n, m):
    q = n//m
    print("Quotient: ", q)
      
    
    r = n%m
    print("Remainder", r)
      

find(40, 3)
find(99, 15)

Quotient:  13
Remainder 1
Quotient:  6
Remainder 9

#### **Exercice 12:**
>**Ecris une fonction `terme_suite_geometrique` qui affiche le n-iÃ¨me terme d'une suite gÃ©omÃ©trique $(v_n)$ de premier terme $v_0$ et de raison $q$. Teste ce programme pour $v_0=2, q=3$ et $n=4$.**

In [113]:
def term_suite_geometric():
    n=int(input("Enter  n :"))
    vO=int(input("Enter term vO :"))
    q=int(input("reason q:"))
    print(vO*q**n)

In [114]:
term_suite_geometric()

Enter  n :7
Enter term vO :5
reason q:8
10485760

#### **Exercice 13:**
>**Ã‰cris une fonction `merci` prend en paramÃ¨tre un `nom` et renvoie le message "Merci pour votre prÃ©sence Ã  cet atelier,`nom`.**

In [78]:
def thank_you():
    name= input("ENTER YOUR NAME:" )
    print("Thank you for attending this workshop",name)

In [79]:
thank_you()

ENTER YOUR NAME:STEPHEN
Thank you for attending this workshop STEPHEN

#### **Exercice 14:**
>**Ã‰cris une fonction `ma_suite` qui dÃ©finit la suite $(u_n)$ telle que  $$u_{n}=\frac{2n^2+3n-1}{n+6}.$$
Affiche son 5e terme.**

In [111]:
def my_suite():
    n=int(input(' : '))
    un=(2*n*2+3*n-1)/(n*6)
    print("the integers", "The term of the sequence is :", un)



<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS ! ðŸŽ‰ </span> </b></center>

In [112]:
my_suite()

 : 5
the integers The term of the sequence is : 1.1333333333333333